ACE12-APP-TESTING/src/SrvOnlineVerifyProcess1/SrvOnlineVerifyProcess_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="urn://grupoaval.com/xsd/ifx/" xmlns:aval="urn://grupoaval.com/xsd/ifx/" xmlns:avalv2="urn://grupoaval.com/xsd/ifx/v2/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:v1="urn://grupoaval.com/inquiries/v1/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import namespace="urn://grupoaval.com/xsd/ifx/v2/" schemaLocation="SrvOnlineVerifyProcess_InlineSchema3.xsd"/>
      <xsd:element name="LastName" type="aval:LastName_Type"/>
      <xsd:simpleType name="LastName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType> 
	  <xsd:element name="AccountNumber" type="xsd:string"/>
	  <xsd:element name="ProductType" type="xsd:string"/>
	  <xsd:element name="CurCode" type="xsd:string"/>	  
	  <xsd:element name="RegisterNumber" type="xsd:string"/>
	  <xsd:element name="AcctName" type="xsd:string"/>	  
	  <xsd:element name="ChkNumEnd" type="xsd:string"/>
	  <xsd:element name="CheckBookNum" type="xsd:string"/>
	  <xsd:element name="ChkNumStart" type="xsd:string"/> 
	  <xsd:element name="CheckBookQuantity" type="xsd:long"/>
	  <xsd:element name="CheckStatus" type="xsd:string"/>
	  <xsd:element name="LocationId" type="xsd:string"/>
	  <xsd:element name="CustLoginId" type="xsd:string"/>
	  <xsd:element name="AcctNameTo" type="xsd:string"/>
	  <xsd:element name="ServerStatusCode" type="xsd:string"/>
      <xsd:element name="CityId" type="xsd:string"/>	  
      <xsd:element name="EffDt" type="xsd:dateTime"/>
      <xsd:element name="BranchName" type="xsd:string"/>	  
      <xsd:element name="ClosedDt" type="xsd:dateTime"/>
      <xsd:element name="BankIdType" type="aval:OpenEnum_Type"/>	  
      <xsd:element name="AddrType" type="aval:OpenEnum_Type"/>
      <xsd:element name="IssDt" type="xsd:dateTime"/>
      <xsd:element name="ServerStatusDesc" type="xsd:string"/>
      <xsd:element name="IPAddr" type="xsd:string"/>
	  <xsd:element name="StartDt" type="xsd:string"/>
      <xsd:element name="StatusCode" type="xsd:long"/>
      <xsd:element name="BranchId" type="xsd:string"/>
      <xsd:element name="CustPermId" type="xsd:string"/>
      <xsd:element name="EndDt" type="xsd:string"/>  
      <xsd:element name="RqUID" type="aval:UUID_Type"/>
      <xsd:element name="AcctType" type="aval:OpenEnum_Type"/>
      <xsd:element name="AcctId" type="xsd:string"/>
	  <xsd:element name="CategoryId" type="xsd:string"/>
      <xsd:element name="Channel" type="xsd:string"/>
	  <xsd:element name="WorkingDay" type="xsd:string"/>
	  <xsd:element name="SupervisionIndicator" type="xsd:string"/>
	  <xsd:element name="ValidationMode" type="xsd:string"/>
	  <xsd:element name="TrnId" type="xsd:string"/>	
	<xsd:element name="Value" type="xsd:string"/>		  
      <xsd:element name="CurAmt" type="aval:CurrencyAmount_Type"/>
      <xsd:element name="BankId" type="xsd:string"/>
      <xsd:element name="StatusDesc" type="xsd:string"/>
      <xsd:element name="KeyAcctId" type="xsd:string"/>
      <xsd:element name="ApprovalId" type="xsd:string"/>
	  <xsd:element name="GovOrg" type="aval:OpenEnum_Type"/>
	  <xsd:element name="GovIssueIdentType" type="aval:OpenEnum_Type"/>
	  <xsd:element name="Name" type="xsd:string"/>
	  <xsd:element name="Org" type="xsd:string"/>
	  <xsd:element name="Version" type="xsd:string"/>
	  <xsd:element name="Amt" type="xsd:string"/>	  
	  <xsd:element name="Desc" type="xsd:string"/>
	  <xsd:element name="ExpDt" type="xsd:string"/>
	  <xsd:element name="Nickname" type="xsd:string"/>
	  <xsd:element name="LegalName" type="xsd:string"/>
	  <xsd:element name="CurRate" type="xsd:decimal"/>
	  <xsd:element name="CurConvertRule" type="aval:OpenEnum_Type"/>
	  <xsd:element name="ContentType" type="aval:OpenEnum_Type"/>
	  <xsd:element name="BinLength" type="xsd:decimal"/>
	  <xsd:element name="CryptType" type="aval:OpenEnum_Type"/>
	  <xsd:element name="RefId" type="aval:Identifier_Type"/>	  
      <xsd:element name="UUID" type="aval:UUID_Type"/>
      <xsd:simpleType name="UUID_Type">	  
		<xsd:restriction base="xsd:string">
			<xsd:annotation>
				<xsd:documentation>UUID elements are Narrow Character with a maximum length of 36.</xsd:documentation>
			</xsd:annotation>
			<xsd:maxLength value="36"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="OpenEnum" type="aval:OpenEnum_Type"/>
      <xsd:simpleType name="OpenEnum_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType> 
	<xsd:complexType name="CurrencyAmount_Type">
    <xsd:sequence>
      <xsd:element minOccurs="1" ref="aval:Amt"/>
      <xsd:element minOccurs="0" ref="aval:CurCode"/>
      <xsd:sequence minOccurs="0">
        <xsd:element minOccurs="0" ref="aval:CurRate"/>
        <xsd:element minOccurs="0" ref="aval:CurConvertRule"/>
      </xsd:sequence>
    </xsd:sequence>
  </xsd:complexType>
      <xsd:element name="CurrencyAmount" type="aval:CurrencyAmount_Type"/>
      <xsd:simpleType name="Identifier_Type">
		<xsd:annotation>
			<xsd:documentation>
				Object identifiers in the IFX Specification are of the
				data type "Identifier." This is a Narrow Character data
				type with a maximum length of 200.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="200"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Identifier" type="aval:Identifier_Type"/>
      <xsd:element name="URL" type="aval:URL_Type"/>
      <xsd:simpleType name="URL_Type">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="1024"/>
		</xsd:restriction>
	</xsd:simpleType>      
      <xsd:element name="RefType" type="aval:RefType_Type"/>
      <xsd:simpleType name="RefType_Type">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
      <xsd:element name="RefInfo" type="aval:RefInfo_Type"/>
      <xsd:complexType name="RefInfo_Type">
		<xsd:sequence>
			<xsd:element ref="aval:RefType"/>
			<xsd:element ref="aval:RefId"/>
		</xsd:sequence>
	</xsd:complexType>
     <xsd:element name="MsgRqHdr" type="aval:MsgRqHdr_Type"/>
      <xsd:complexType name="MsgRqHdr_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:ClientApp"/>
			<xsd:element minOccurs="0" ref="avalv2:Channel"/>
			<xsd:element minOccurs="0" ref="aval:BankInfo"/>
			<xsd:element minOccurs="0" ref="avalv2:ClientDt"/>
			<xsd:element minOccurs="0" ref="avalv2:IPAddr"/>
			<xsd:element minOccurs="0" ref="avalv2:SessKey"/>
			<xsd:element minOccurs="0" ref="aval:UserId"/>
			<xsd:element minOccurs="0" ref="avalv2:KeyAcctId"/>
			<xsd:element ref="avalv2:Reverse"/>
			<xsd:element ref="avalv2:Language"/>
			<xsd:element minOccurs="0" ref="avalv2:NextDay"/>
		</xsd:sequence>
	</xsd:complexType>
		 
      <xsd:complexType name="ClientApp_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:Org"/>
			<xsd:element minOccurs="0" ref="aval:Name"/>
			<xsd:element minOccurs="0" ref="aval:Version"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="ClientApp" type="aval:ClientApp_Type"/>
	  
	  <xsd:complexType name="BankInfo_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:BankIdType"/>
			<xsd:element ref="aval:BankId"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:RefInfo"/>
			<xsd:element minOccurs="0" ref="aval:Name"/>
			<xsd:element minOccurs="0" ref="aval:BranchId"/>
			<xsd:element minOccurs="0" ref="aval:BranchName"/>			
			<xsd:element minOccurs="0" ref="aval:City"/>
			<xsd:element minOccurs="0" ref="aval:StateProv"/>
			<xsd:element minOccurs="0" ref="aval:PostalCode"/>
			<xsd:element minOccurs="0" ref="aval:Country"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="BankInfo" type="aval:BankInfo_Type"/>
	  
	  
	  <xsd:element name="PostAddr" type="aval:PostAddr_Type"/>
      <xsd:complexType name="PostAddr_Type">
		<xsd:sequence>
			<xsd:element maxOccurs="4" minOccurs="0" ref="aval:Addr"/>
			<xsd:element minOccurs="0" ref="aval:CityId"/>
			<xsd:element minOccurs="0" ref="aval:City"/>
			<xsd:element minOccurs="0" ref="aval:StateProv"/>
			<xsd:element minOccurs="0" ref="aval:PostalCode"/>
			<xsd:element minOccurs="0" ref="aval:Country"/>
			<xsd:element minOccurs="0" ref="aval:AddrType"/>
			<xsd:element minOccurs="0" ref="aval:StartDt"/>
			<xsd:element minOccurs="0" ref="aval:EndDt"/>
		</xsd:sequence>
	</xsd:complexType>      
      <xsd:simpleType name="Addr_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Addr" type="aval:Addr_Type"/>
      <xsd:simpleType name="City_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="City" type="aval:City_Type"/>
      <xsd:element name="StateProv" type="aval:StateProv_Type"/>
      <xsd:simpleType name="StateProv_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:simpleType name="PostalCode_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="PostalCode" type="aval:PostalCode_Type"/>
      <xsd:element name="Country" type="aval:Country_Type"/>
      <xsd:simpleType name="Country_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="UserId" type="aval:UserId_Type"/>
      <xsd:complexType name="UserId_Type">
		<xsd:complexContent>
			<xsd:extension base="aval:CustId_Type">
				<xsd:sequence/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
      <xsd:complexType name="CustId_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:CustPermId"/>
			<xsd:element minOccurs="0" ref="aval:CustLoginId"/>
			<xsd:element minOccurs="0" ref="aval:GovIssueIdent"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:CustName"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="CustId" type="aval:CustId_Type"/>
	  	   
	<xsd:element name="addVerifyProcessRqInfo" type="aval:addVerifyProcessRqInfo_Type"/>	   
	<xsd:complexType name="addVerifyProcessRqInfo_Type">
		<xsd:sequence>		
			<xsd:element minOccurs="0" ref="aval:WorkingDay"/>
			<xsd:element minOccurs="0" ref="aval:SupervisionIndicator"/>
			<xsd:element minOccurs="0" ref="aval:ValidationMode"/>
			<xsd:element minOccurs="0" ref="aval:AccountNumber"/>			
			<xsd:element minOccurs="0" ref="aval:CurAmt"/> 
			<xsd:element minOccurs="0" ref="aval:ProductType"/>	
			<xsd:element minOccurs="0" ref="aval:Name"/>
			<xsd:element minOccurs="0" ref="aval:Desc"/>
			<xsd:element minOccurs="0" ref="aval:AcctId"/>
			<xsd:element minOccurs="0" ref="aval:CategoryId"/>
			<xsd:element minOccurs="0" ref="aval:TrnId"/>
			<xsd:element minOccurs="0" ref="aval:Value"/>			
		</xsd:sequence>
	</xsd:complexType>
	
		<xsd:element name="addVerifyProcessRsInfo" type="aval:addVerifyProcessRsInfo_Type"/>	   
	<xsd:complexType name="addVerifyProcessRsInfo_Type">
		<xsd:sequence>		
			<xsd:element minOccurs="0" ref="aval:RefId"/>
			<xsd:element minOccurs="0" ref="aval:AcctId"/>
			<xsd:element minOccurs="0" ref="aval:CategoryId"/>
			<xsd:element minOccurs="0" ref="aval:TrnId"/>  				
		</xsd:sequence>
	</xsd:complexType>
	
	 <xsd:element name="Product" type="aval:Product_Type"/>
      <xsd:complexType name="Product_Type">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:Name"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:Value"/>				
		</xsd:sequence>
	</xsd:complexType> 
	
	  
      <xsd:element name="CustName" type="aval:CustName_Type"/>
      <xsd:complexType name="CustName_Type">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:LastName"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:FirstName"/>	
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:Nickname"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:LegalName"/>			
		</xsd:sequence>
	</xsd:complexType>   
      
      <xsd:simpleType name="FirstName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="FirstName" type="aval:FirstName_Type"/>
      <xsd:element name="GovIssueIdent" type="aval:GovIssueIdent_Type"/>
      <xsd:complexType name="GovIssueIdent_Type">
		<xsd:sequence>		
			<xsd:element minOccurs="1" ref="aval:GovIssueIdentType"/>		
			<xsd:element minOccurs="1" ref="aval:IdentSerialNum"/>
			<xsd:element minOccurs="0" ref="aval:GovOrg"/>
			<xsd:element minOccurs="0" ref="aval:GovOrgName"/>
			<xsd:element minOccurs="0" ref="aval:GovRank"/>
			<xsd:element minOccurs="0" ref="aval:StateProv"/>
			<xsd:element minOccurs="0" ref="aval:Country"/>
			<xsd:element minOccurs="0" ref="aval:Desc"/>
			<xsd:element minOccurs="0" ref="aval:IssDt"/>
			<xsd:element minOccurs="0" ref="aval:ExpDt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="GovOrgName" type="aval:GovOrgName_Type"/>
      <xsd:simpleType name="GovOrgName_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="GovRank" type="aval:GovRank_Type"/>
      <xsd:simpleType name="GovRank_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="DateTime" type="aval:DateTime_Type"/>
      <xsd:simpleType name="DateTime_Type">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}(T[0-9]{2}:[0-9]{2}(:[0-9]{2}(\.[0-9]{6})?((-|\+)[0-9]{2}:[0-9]{2})?)?)?"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:simpleType name="IdentSerialNum_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="IdentSerialNum" type="aval:IdentSerialNum_Type"/>
	 
      <xsd:complexType name="GenericAcctId_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:AcctId"/>
			<xsd:element minOccurs="0" ref="aval:AcctType"/>
			<xsd:element maxOccurs="1" minOccurs="0" ref="aval:AcctCur"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="AcctCur" type="aval:AcctCur_Type"/>
      <xsd:simpleType name="AcctCur_Type">
		<xsd:restriction base="xsd:string">
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:element name="Status" type="aval:Status_Type"/>
      <xsd:complexType name="Status_Type">
		<xsd:sequence>
			<xsd:element minOccurs="1" ref="aval:StatusCode"/>
			<xsd:element minOccurs="0" ref="aval:ServerStatusCode"/>
			<xsd:element minOccurs="0" ref="aval:Severity"/>
			<xsd:element minOccurs="0" ref="aval:StatusDesc"/>
			<xsd:element minOccurs="0" ref="aval:ServerStatusDesc"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" ref="aval:AdditionalStatus"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="Severity" type="aval:Severity_Type"/>
      <xsd:simpleType name="Severity_Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Error"/>
			<xsd:enumeration value="Info"/>
			<xsd:enumeration value="Warn"/>
		</xsd:restriction>
	</xsd:simpleType>
      <xsd:complexType name="AdditionalStatus_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:StatusCode"/>
			<xsd:element minOccurs="0" ref="aval:ServerStatusCode"/>
			<xsd:element minOccurs="0" ref="aval:Severity"/>
			<xsd:element minOccurs="0" ref="aval:StatusDesc"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="AdditionalStatus" type="aval:AdditionalStatus_Type"/>
      <xsd:complexType name="TxCostAmt_Type">		
	</xsd:complexType>
      <xsd:element name="TxCostAmt" type="aval:TxCostAmt_Type"/>
      <xsd:complexType name="MsgRsHdr_Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" ref="aval:TxCostAmt"/>
			<xsd:element minOccurs="0" ref="aval:EffDt"/>
		</xsd:sequence>
	</xsd:complexType>
      <xsd:element name="MsgRsHdr" type="aval:MsgRsHdr_Type"/>
    </xsd:schema>